* {
  margin: 0;
  padding: 0;
  width: 100%;
}
h1{
  font-size: 3em;
  font-family: Pacifico;
}
p{
  font-size: 1.2em;
  font-family: Abel;
}
h2{
  font-weight: bold;
  font-family: Abel;
}
#heading{
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/861103/pexels-photo-861103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center; 
  color: #fff;
}
#notify{
  padding-top: 10%;
  padding-left: 10%;
}
.greenie{
  color: #2acb72;
}
.grey{
  color: #898989;
}

.fa-ul li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
  font-size: 1.2em;
}
.third {
  width: 25%;
  display: inline-block;
  margin: 3%;
}
#theme{
  margin: 5% 5%;
}
#video{
  padding: 5% 5%;
  background-color: #898989;
}
.half{
  width: 40%;
  display: inline-block;
}
.fab{
  display: initial;
}
img{
  width: 25%;
  height: 25%;
  margin: 0 auto;
}
#contact{
  text-align: center;
}
footer{
  margin-top: 30px;
  background: lightgray;
  padding: 2% 2% 2% 2%;
  text-align: center;
}
form{
  width: 100%;
  display: inline;
}
input[type=text]{
  width:60%;
}
input[type=submit]{
  width:35%;
  color: #fff;
  background: #2acb72;
  border: 2px solid #2acb72;;
  border-radius: 0px 20px 20px 0px;
}