body {
  margin: auto;
  padding:0;
}
h1{
  font-size: 3em;
  font-family: Pacifico;
}
p{
  font-size: 1.2em;
  font-family: Abel;
}
h2{
  font-weight: bold;
  font-family: Abel;
}
#heading{
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/861103/pexels-photo-861103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center; 
  color: #fff;
}
#notify{
  padding-top: 10%;
  padding-left: 10%;
}
.greenie{
  color: #2acb72;
}
.grey{
  color: #898989;
}

.fa-ul li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
  font-size: 1.2em;
}
.third {
  width: 25%;
  display: inline-block;
  margin: 3%;
}
#theme{
  margin: 5% 5%;
}
#video{
  padding: 5% 5% 5% 5%;
  background-color: #898989;
  margin: 0 auto;
}
.half{
  width: 40%;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.fab{
  display: initial;
}
img{
  width: 25%;
  height: 25%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
#contact{
  text-align: center;
}
footer{
  margin-top: 30px;
  background: lightgray;
  padding: 2% 2% 2% 2%;
  text-align: center;
}
form{
  display: inline;
  margin: 10px;
}
input[type=email]{
  width:40%;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px 0px 0px 20px;
}
input[type=submit]{
  width:20%;
  color: #fff;
  padding: 10px;
  background: #2acb72;
  border: 2px solid #2acb72;;
  border-radius: 0px 20px 20px 0px;
}
@media (max-width: 400px) {
  .half{
    width: 100vw;
  }
  iframe{
    margin-top: 15px;
    width:80%;
  }
  .third{
    display: inline;
    text-align: center;  
  }
  .gears{
    text-align: center;
    margin: 20px;
  }
  }